
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #D9A4D1; /* Rosado/morado */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 90%;
}

h2 {
    font-size: 2rem;
    color: #D9A4D1; /* Rosado/morado */
    margin-bottom: 10px;
}

.producto {
    display: inline-block;
    margin: 15px;
    text-align: center;
    width: 30%;
}

.producto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #D9A4D1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #C28DB6;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #D9A4D1;
    color: white;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#personaliza {
    background-color: #F9E6F1;
    padding: 20px;
    text-align: center;
}

#inicio {
    background-color: #D9A4D1; /* Rosado/morado */
    color: white;
    text-align: center;
    padding: 40px 0;
}

#inicio .btn-inicio {
    background-color: #C28DB6;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

#inicio .btn-inicio:hover {
    background-color: #A878A3;
}
